<DOCTYPE! html>
<html>
    <head>
        <title> Arrow Express - Settings </title> 
        <link rel="icon" type="image/png" href="Images/DLSU_Logo.png">
        <link rel="stylesheet" type="text/css" href="CSS/SettingsStyle.css">

        <script type="text/javascript">
            var buttons = document.getElementsByClassName("tab");
            var panels = document.getElementsByClassName("panel");
			
            function showPanel(i){
                //This just resets all the backgound colour and text colour for all buttons
				for(const button of buttons){
					button.style.backgroundColor="";
					button.style.color="";
				}

                //Differentiates the colour of the active button
                buttons[i].style.backgroundColor="white";
                buttons[i].style.color="black";
                
                //Resets display for all panels
				for(const panel of panels){
					panel.style.display="none";
				}

                //displays the chosen panel
                panels[i].style.display="block";
            }

			/*
			function submitForm(formName){
				var form = document.getElementById(formName);
				form.submit();
				
				alert("Form " + formName + " submitted"); 
			}

			
			function deleteAccount(){
				var user_loggedIn  = localStorage.getItem('loggedInUser');
				var registeredUser;

				var password = document.getElementById("password").value;

				if ( ( user_loggedIn && (user_loggedIn.match(password)) && password != "")){

					for ( var i = 0 ; i < localStorage.length ; i++ ) {

						var key = localStorage.key(i);
						if( key.startsWith('valid_user') ){
							registeredUser = localStorage.getItem(key);
						}

						try{
							var tempRegIdNumber = JSON.parse(registeredUser).idNumber;
							var tempRegPassword = JSON.parse(registeredUser).password;
							var tempLogIdNumber = JSON.parse(user_loggedIn).idNumber;
							var tempLogPassword = JSON.parse(user_loggedIn).password;
						}
						catch{
							console.log("Error 404");
						}
    					
						if ( tempRegIdNumber == tempLogIdNumber && tempRegPassword == tempLogPassword ) {
							localStorage.removeItem(key); //Removes the user from the localstorage
						}
					}			
					
					localStorage.removeItem('loggedInUser');
					return 1;

				}
				else{
					alert("Password is incorrect! Please try again.");
					return 0;
				}
				
			}
			*/

        </script>
    
        <style>
            .panel{
                float: left;
                display: none;
				overflow: scroll;
				-ms-overflow-style: none;
				scrollbar-width: none;
				padding: 4.5%;
				width: 100%;
            }
			.panel::-webkit-scrollbar{
				display: none;
			}
			.panel div div{
				padding: 20px 0 20px 0;
			}
			
			.panel div div input[type="text"]{
				height: 50px; 
				margin-top: 10px; 
				font-size: 24px; 
				border-radius: 5px; 
				padding-left: 5px;
			}
			
			.submitButton{
				color: white;
				background-color: rgb(0, 139, 50, 1);
				border: 3px solid black;
				border-radius: 10px;
				padding: 0 10px 0 10px;
				width: 200px;
				height: 50px;
				font-size: 20px;
			}
			
			.submitButton:hover{
				background-color: rgba(0, 139, 50, 0.9);
				cursor: pointer;
			}
			
        </style>
    </head>

    <body>
		
        <div class="navbar">
            <a onclick="history.back()"><img src="Images/Leftarrow.png" class="back_img"></a>
            <img src="Images/DLSU_Logo.png" class="website_logo" href="#">   
        </div>

        <div class="content">

            <div id="tab_container">   
                <h1 style="position: relative; margin-left: 30px; margin-top: 30px; color: white; "> Profile Settings </h1>
                <hr style="position: relative; margin-top: 25px; border: 2px solid white;">
                
                <div id="tab_list">
                    <button onclick="showPanel(0)" class="tab"> Profile </button>
                    <button onclick="showPanel(1)" class="tab"> Password </button>
                    <button onclick="showPanel(2)" class="tab"> Delete Account </button>
                </div>

            </div>

            <div id="tab_content"> 

                <div class="panel" id="profile_tab" style="display: flex; flex-direction: vertical;">
                    <!-- First Name, Last Name, Student Number, Designation, Type of Passenger -->
                    <div style="background-color: white; border-radius: 25px; width:auto; padding: 25px;">
						<h1>Public info</h1>
						<hr>
						<form id="public_change" action="/ChangePublicInfo" method="post">
							<input type="hidden" name="idNumber" value="{{idNumber}}">
							<div style="display: flex;">
								<div style="margin-right: 20px;">
									<label for="currentFirstName"><h2>Current First Name:</h2></label>
									<input type="text" placeholder="{{firstName}}" id="currentFirstName" name="currentFirstName" readonly disabled>
								</div>
								<div>
									<label for="currentLastName"><h2>Current Last Name:</h2></label>
									<input type="text" placeholder="{{lastName}}" id="currentLastName" name="currentLastName" readonly disabled>
								</div>
							</div>
							<div style="display: flex;">
								<div style="margin-right: 20px;">
									<label for="newFirstName"><h2>New First Name:</h2></label>
									<input type="text" placeholder="Enter First Name" id="newFirstName" name="newFirstName">
								</div>
								<div>
									<label for="newLastName"><h2>New Last Name:</h2></label>
									<input type="text" placeholder="Enter Last Name" id="newLastName" name="newLastName">
								</div>
							</div>
							<div>
								<label for="dp"><h2>Display Photo: <br> <h2></label>
								<input type="file" id="dp" name="dp" style="margin-top: 10px;">
							</div>
							
							<button type="submit" class="submitButton">Save changes</button>
						</form>
					</div>

					<script>/*This shows Profile tab automatically at page load*/showPanel(0);</script>
					
					<div style="background-color: white; border-radius: 25px; width:auto; padding: 25px; margin-top: 15px">
						<h1>Private info</h1>
						<hr>
						<form id="private_change", action="/ChangePrivateInfo" method="post">
							<input type="hidden" name="idNumber" value="{{idNumber}}">
							<div style="display: flex;">
								<div style="margin-right: 20px;">
									<label for="oldDesignation"><h2>Current Designation: </h2></label>
									<input type="text" placeholder="{{designation}}" id="oldDesignation" name="oldDesignation" readonly disabled>
								</div>
								<div>
									<label for="newDesignation"><h2>New Designation: <br> <h2></label>
									<select id="newDesignation" name="newDesignation" style="height: 50px; margin-top: 10px; font-size: 24px; border-radius: 5px; width: 300px">
										<option value="Guest">Guest</option>
										<option value="Student">Student</option>
										<option value="Faculty">Faculty</option>
										<option value="ASP">ASP</option>
										<option value="APSP">APSP</option>
										<option value="CAF">CAF</option>
										<option value="ESP">ESP</option>
									</select>
								</div>
							</div>
							
							<div style="display:flex;" id="changePassengerType">
								<div style="margin-right: 20px;">
									<label for="oldPassengerType"><h2>Current Passenger Type: </h2></label>
									<input type="text" placeholder="{{passengerType}}" id="oldPassengerType" name="oldPassengerType" readonly disabled>
								</div>
							</div>
							
							<button onclick="submitForm('private_change')", class="submitButton">Save Changes</button>
						</form>
					</div>
					
                </div>

                <div class="panel" id="password_tab">
                    <div style="background-color: white; border-radius: 25px; width:auto; padding: 25px;">
						<h1>Password Change</h1>
						<hr>
						<form id="pass_change" action="/ChangePassword" method="post">
							<input type="hidden" name="idNumber" value="{{idNumber}}">
							<div>
								<label for="oldPassword"><h2>Old password: <br> <h2></label>
								<input type="text" placeholder="Old password" id="oldPassword" name="oldPassword">
							</div>
							<div>
								<label for="newPassword"><h2>New password: <br> <h2></label>
								<input type="text" placeholder="New password" id="newPassword" name="newPassword">
							</div>
							
							<button type="submit" class="submitButton">Save Password</button>
						</form>
					</div>
                    <!-- Current Password, New Password, Verify Password -->
                </div>

                <div class="panel" id="delete_tab"> 
                    <div style="background-color: white; border-radius: 25px; width:auto; padding: 25px;">
						<h1>Delete Account</h1>
						<hr><br>
						You must input your password in order to confirm the deletion of your account.
						<form id="delete_account" action="/DeleteAccount" method="post">
							<div>
								<label for="password"><h2>Password: <br> <h2></label>
								<input type="text" placeholder="Password" id="password" name="Password">
								<input type="hidden" name="idNumber" value="{{idNumber}}">
							</div>
							
							<button type="submit" class="submitButton" style="width: auto; ">Delete Account</button>
						</form>
					</div>
                    <!-- Type current password, delete buttom -->
                </div>

                <!-- Not limited to these ideas, if sa tingin may idadagdag pa. Lagay niyo na rin-->
            
            </div>

        </div>

		
	</body>
</html>
