<!DOCTYPE html>

<html>
    <head>
        <title> Arrow Express - Forgot Password </title> 
        <script src="../js/User.js"> </script>
        <link rel="icon" type="image/png" href="../images/DLSU_Logo.png">
        <link rel="stylesheet" href="../css/FormStyle.css">  <!-- Kailangan to if may separate CSS file -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script>

            window.onload = function() {
                

                var email = "{{email}}";
                var securityCode = "{{securityCode}}";
                var check = "{{isInvalid}}"
                var checkMatch = "{{isMatch}}";

                $("#error_box").css("display", "none");

                // For checking if the email and security code fields are filled up
                if ( email != "" && securityCode != "" ){
                    $("#firstBox").css("display", "none");
                    $("#secondBox").css("display", "block");
                }
                else{
                    $("#secondBox").css("display", "none");
                }

                // For checking if the email and security code are valid
                if ( check == "true" ){ //Invalid 

                    $("#error_box").css("display", "block");

                    setTimeout(function(){
                        $("#error_box").css("display", "none");
                    }, 3000);

                }

                // For checking if the new password and retype new password are the same
                if ( checkMatch == "false" ){

                    $("#firstBox").css("display", "none");
                    $("#secondBox").css("display", "block");

                    $("#error_box").css("display", "block");
                    $("#error_message").text("Passwords do not match. Try again.");

                    setTimeout(function(){
                        $("#error_box").css("display", "none");
                    }, 3000);

                }

            }
                
            $("#securityForm").submit(function(e) {
                var email = $("#user_email").val();
                var securityCode = $("#user_securityCode").val();

                if ( email != "" && securityCode != "" ){
                    $("#firstBox").css("display", "none");
                    $("#secondBox").css("display", "block");
                    e.preventDefault();
                }
            });
            
        </script>

    </head>

    <body>

        <div class = "banner"> 
            <div class="navbar">
                <a href="/"><img src="../images/Leftarrow.png" class = "back_img"></a>
                <a href="/"> <img src= "../images/DLSU_Logo.png" class = "website_logo"> </a>  
            </div>
            
            <div class="form_box" id="firstBox">
                <h2> Forgot Password </h2>
                <h4> Do not worry. We got you! </h4>
                <hr>
                <div class="input">
                    <form action="/ForgotPassword" id="securityForm" method="post">
                        <label for="user_email"></label>
                        <input type="text" placeholder="Email" class="fillup" name="user_email" id="user_email" required >
                        <label for="user_securityCode"></label>
                        <input type="password" placeholder="4-Digit Security Code" class="fillup" name="user_securityCode" id="user_securityCode" required pattern="[0-9]+" minlength="4" maxlength="4">
                        <button type="submit" class="toggle_btn" > Submit <style> .toggle_btn{ font-size: large; font-weight: bold;} </style> </button>
                    </form>
                </div>

                <div class="subtext">
                    <a href="/Login"> Cancel </a>
                </div>
            </div>

            <div class="form_box" id="secondBox">
                <h2 style="font-size: 23px;"> Change Password </h2>
                <h4 style="font-size: 15px;"> Do not worry. We got you! </h4>
                <hr>
                <div class="input">
                    <form action="/ChangeFPassword" id="loginForm" method="post">
                        <input type="hidden" name="idNumber" value="{{idNumber}}">
                        <label for="user_newPassword0"></label>
                        <input type="password" placeholder="New Password" class="fillup" name="user_newPassword0" id="user_idNumber" required >
                        <label for="user_newPassword1"></label>
                        <input type="password" placeholder="Retype New Password" class="fillup" name="user_newPassword1" id="user_password" required>
                        <button type="submit" class="toggle_btn" > Submit <style> .toggle_btn{ font-size: large; font-weight: bold;} </style> </button>
                    </form>
                </div>

                <div class="subtext">
                    <a href="/Login"> Cancel </a>
                </div>
            </div>


            <div id="error_box">
                <p id="error_message"> Invalid Email/Security Code. Check your input </p>
            </div>

        </div>
    </body>

    <style>

        .form_box{
            height: 300px;
            margin: 100px auto;
        }

        .form_box .input{
            top: 25px;
        }

        .toggle_btn{
            top: -10px;
        }

        .subtext{
            top: 30px;
        }

        #error_box{
            width: 380px;
            height: 20px;
            top: 0%;
            margin: auto;
            background: rgb(255, 54, 54);
            padding: 5px;
            position: relative;
            border-radius: 20px;
            display: none;
        }

        #error_box p{
            text-align: center;
            font-family: sans-serif;
            font-size: 13px;
            position: relative;
            top: 3px;
        }

    </style>

</html>